* {
    margin: 0px;
    padding: 0px;
}

.bar {
    margin-bottom: 100px;
    padding: 50px;
    background-color: cornflowerblue;
    text-align: center;
}

.card {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.profile-card {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    text-align: left;
}