aulas-para-testar
aulas-para-postar

# exercícios à postar
#4-bimestre/ex01-loop-while/test
#4-bimestre/ex01-loop-while/index.js
#4-bimestre/ex01-loop-while/package.json

4-bimestre/ex02-loop-do-while/test
4-bimestre/ex02-loop-do-while/index.js
4-bimestre/ex02-loop-do-while/package.json
