node_modules
modelo
.docs

# AULAS E PROJETOS DE GESTÃO DE STARTUP
/4-bimestre/gestao-de-startup-2/aula01
/4-bimestre/gestao-de-startup-2/aula02

/4-bimestre/gestao-de-startup-2/aula05
/4-bimestre/gestao-de-startup-2/aula06

/4-bimestre/gestao-de-startup-2/projetos/projeto3
/4-bimestre/gestao-de-startup-2/projetos/projeto4

# AULAS E PROJETOS DE ORIENTAÇÃO A OBJETOS
/4-bimestre/orientacao-a-objetos/aula01
/4-bimestre/orientacao-a-objetos/aula02

/4-bimestre/orientacao-a-objetos/aula05
/4-bimestre/orientacao-a-objetos/aula06

/4-bimestre/orientacao-a-objetos/aula09
/4-bimestre/orientacao-a-objetos/aula10

/4-bimestre/orientacao-a-objetos/aula13
/4-bimestre/orientacao-a-objetos/aula14

/4-bimestre/orientacao-a-objetos/projetos/projeto5
/4-bimestre/orientacao-a-objetos/projetos/projeto6
/4-bimestre/orientacao-a-objetos/projetos/projeto7
/4-bimestre/orientacao-a-objetos/projetos/projeto8