* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.profile-card {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px rgb(148, 146, 146);
}
 
.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-left: 75px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile-card h1 {
    padding-left: 90px;
    padding-bottom: 40px;
}

.profile-card p {
    padding-left: 15px;
    padding-bottom: 20px;
}

.profile-card h2 {
    padding-left: 90px;
    padding-top: 30px;
}