button {
    display: flex;
    justify-content: space-between;
    border: solid 1px rgb(133, 133, 133);
    border-radius: 18px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}